@page "/Credentials"
@using KeriAuth.BrowserExtension.Services
@using KeriAuth.BrowserExtension.Services.SignifyService
@using KeriAuth.BrowserExtension.Services.SignifyService.Models
@using KeriAuth.BrowserExtension.UI.Components
@using System.Collections.Immutable
@using System.Diagnostics
@using static KeriAuth.BrowserExtension.AppConfig;
@using static KeriAuth.BrowserExtension.Helper.PreviousPage


@inject NavigationManager navManager
@inject IJSRuntime js
@inject ILogger<CredentialsPage> logger
@inject ISignifyClientService signifyClientService;

<div id="@this.GetType().Name" class="bt-body-page">
    <div class="d-flex gap-3 bt-main">
        <div class="bt-main-inside-scroll">

            <div style="display:flex;">
                <MudText Typo="Typo.h6">Credentials Held</MudText>
                <MudTooltip Delay="0.5"
                            Text="">
                    <MudIcon Icon="@Icons.Material.Outlined.Info" Class="bt-info-icon" />
                </MudTooltip>
            </div>
            <MudStack Class="d-flex justify-center">
                @if (credentials.Any())
                {
                    <MudStack>
                        @foreach (Credential credential in credentials)
                        {
                            <MudCard>
                                @credential.Pre
                            </MudCard>
                        }
                    </MudStack>
                }
                else
                {
                    <MudChip Label="true">No credentials found.</MudChip>
                }
            </MudStack>
        </div>
    </div>
    <MudStack Row="true" class="bt-button-tray">
        <MudIconButton Icon="@Icons.Material.Filled.ArrowBackIosNew" Variant="Variant.Text" OnClick='@( async () => await GoBack(js) )' Class="justify-start" />
        <MudSpacer></MudSpacer>
    </MudStack>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        logger.LogInformation($"OnInitializedAsync");

        await getCredentials();
    }

    IList<Credential> credentials = new List<Credential>();

    private async Task getCredentials()
    {
        var res = await signifyClientService.GetCredentials();
        if (res.IsSuccess)
        {
            credentials = res.Value;
            logger.LogInformation("Credentials: {res}", res.Value);
        }
        else
        {
            logger.LogError($"Error: {res.Errors}");
        }
    }
}