@page "/ManagePreferences"
@using KeriAuth.BrowserExtension.Models
@using KeriAuth.BrowserExtension.Services
@using System.Reactive.Linq
@inject IStateService stateService
@inject NavigationManager navManager
@inject IPreferencesService preferencesService
@using static KeriAuth.BrowserExtension.AppConfig;
@inject IJSRuntime js
@using static KeriAuth.BrowserExtension.Helper.PreviousPage
@inject ILogger<PreferencesPage> logger

<div id="@this.GetType().Name" class="bt-body-page">
    <div class="d-flex gap-3 bt-main">
        <div class="bt-main-inside-scroll">
            <MudText Typo="Typo.h6">Preferences</MudText>
            <MudStack>
                <MudText Class="mt-3">Theme</MudText>
                <MudStack Row="true" Style="margin-left:20px;">
                    <MudIcon Icon="@Icons.Material.Filled.WbSunny" Title="Light" Class="mt-2"></MudIcon>
                    <MudSwitch Value="IsDarkTheme" ValueChanged="async (bool isOn) => await SetAndPersistIsDarkTheme(isOn)" T="bool" Color="Color.Primary" Class="mr-n2 mb-6" Style="margin-bottom: 0px !important; margin-left: 5px;" />
                    <MudIcon Icon="@Icons.Material.Filled.Nightlight" Title="Dark" Class="mt-2"></MudIcon>
                </MudStack>
            </MudStack>
            <MudStack Row="false">
                <MudText Class="mt-3">Menu Mode</MudText>
                <MudStack Row="false" Style="width:200px; margin-left:20px;">
                    <MudSelect T="MudBlazor.DrawerVariant" MultiSelection="false" Value="DrawerVariantInTab" ValueChanged="async (a) => await SetAndPersistDVIT(a)" Label="In Browser Tab" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                        @foreach (MudBlazor.DrawerVariant item in Enum.GetValues(typeof(DrawerVariantSupportedInTab)))
                        {
                            <MudSelectItem Value="@item">@item</MudSelectItem>
                        }
                    </MudSelect>
                </MudStack>
            </MudStack>

            <MudStack Row="false">
                <MudText Class="mt-3">Inactivity Timeout</MudText>
                <MudStack Row="false" Style="width:200px; margin-left:20px;">
                    <MudSlider T="float" Value="InactivityTimeout" ValueChanged="async (v) => await SetAndPersistInactivityTimeout(v)" Min="0.5f" Max="5" Step="0.5f" Label="Value" />
                    <p>@InactivityTimeoutLabel</p>
                </MudStack>
            </MudStack>
        </div>
    </div>
    <MudStack Row="true" class="bt-button-tray">
        <MudIconButton Icon="@Icons.Material.Filled.ArrowBackIosNew" Variant="Variant.Text" OnClick='@( async () => await GoBack(js) )' Class="justify-start" />
        <MudSpacer />
    </MudStack>
</div>

@code
{
    // fields and types
    IDisposable? preferencesSubscription;
    enum DrawerVariantSupportedInTab
    {
        Persistent = MudBlazor.DrawerVariant.Persistent,
        Temporary = MudBlazor.DrawerVariant.Temporary,
        Responsive = MudBlazor.DrawerVariant.Responsive
        // Mini = MudBlazor.DrawerVariant.Mini, // has layout issues
    }

    // properties
    Preferences Prefs { get; set; } = new();

    // reactive properties
    float InactivityTimeout => Prefs.InactivityTimeoutMinutes;
    string InactivityTimeoutLabel => InactivityTimeout.ToString() + " " + (InactivityTimeout <= 1.0f ? "minute" : "minutes");
    bool IsDarkTheme => Prefs.IsDarkTheme;
    MudBlazor.DrawerVariant DrawerVariantInTab => Prefs.DrawerVariantInTab;

    async Task Persist()
    {
        await preferencesService.SetPreferences(Prefs);
    }

    async Task SetAndPersistIsDarkTheme(bool isDarkTheme)
    {
        Prefs = Prefs with { IsDarkTheme = isDarkTheme };
        await Persist();
    }

    async Task SetAndPersistDVIT(DrawerVariant dv)
    {
        Prefs = Prefs with { DrawerVariantInTab = dv };
        await Persist();
    }

    async Task SetAndPersistInactivityTimeout(float inactivityTimeout)
    {
        Prefs = Prefs with { InactivityTimeoutMinutes = inactivityTimeout };
        await Persist();
    }

    public void Dispose()
    {
        preferencesSubscription?.Dispose();
    }

    async Task HandleNextFromPreferencesService(Preferences value)
    {
        Prefs = value;
        StateHasChanged();
    }

    void HandleErrorFromPreferencesService(Exception error)
    {
        logger.LogInformation("Error from PreferencesService: " + error.Message);
    }

    void HandleCompletedFromPreferencesService()
    {
        logger.LogInformation("Completed from PreferencesService");
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        logger.LogInformation("OnInitializedAsync");
        var prefs = await preferencesService.GetPreferences();
        await HandleNextFromPreferencesService(prefs);

        preferencesSubscription = preferencesService.Subscribe(
            onNext: async (Preferences value) => await HandleNextFromPreferencesService(value),
            onError: (Exception error) => HandleErrorFromPreferencesService(error),
            onCompleted: () => HandleCompletedFromPreferencesService());
    }
}