@page "/RequestSignIn/{encodedOrigin}/{requestId}"
@layout Layouts.DialogLayout

@using System.Linq
@using System.Text.Json
@using KeriAuth.BrowserExtension.Helper
@using KeriAuth.BrowserExtension.Models
@using KeriAuth.BrowserExtension.UI.Components
@using KeriAuth.BrowserExtension.UI.Pages
@using KeriAuth.BrowserExtension.Services
@using KeriAuth.BrowserExtension.Services.SignifyService
@using KeriAuth.BrowserExtension.Services.SignifyService.Models
@using static KeriAuth.BrowserExtension.AppConfig
@using System.Diagnostics
@using Microsoft.AspNetCore.WebUtilities
@using MudBlazor
@using FluentResults
@using System.Web

@implements IDisposable

@inject IStorageService storageService
@inject IStateService stateService
@inject NavigationManager navManager
@inject IJSRuntime js
@using static KeriAuth.BrowserExtension.Helper.PreviousPage
@inject ILogger<RequestSignInPage> logger
@inject IdentifiersService identifiersService
@inject ISignifyClientService signifyClientService
@inject IDialogService dialogService
@inject ISnackbar snackbar
@inject IWebsiteConfigService websiteConfigService
@inject IStorageService storageService
@inject IPreferencesService preferencesService
@inject IExtensionEnvironmentService extensionEnvironmentService
@inject IAppSwMessagingService appSwMessagingService
@inject IJSRuntime jsRuntime

@code {
    [Parameter]
    public string encodedOrigin { get; set; } = "";

    [Parameter]
    public string requestId { get; set; } = "";

    string OriginStr => HttpUtility.UrlDecode(encodedOrigin).Trim().Trim('"');

    Uri? GetOriginUri()
    {
        try
        {
            var x = new Uri(OriginStr);
            return x;
        }
        catch (Exception ex)
        {
            logger.LogError("Error parsing OriginStr '{o}': {e}", OriginStr, ex);
            return null;
        }
    }

    string AppActivePrefix { get; set; } = string.Empty;

    List<IdentifierHeadline> IdentifierHeadlines { get; set; } = [];

    // TODO should be something like  get => ThisWebsiteConfig?.RememberedPrefixOrNothing == SelectedPrefix;
    bool IsPrefixRemembered { get; set; }
    bool IsCredentialRemembered { get; set; }
    enum SignInMode { Credential, Identifier, Prompt }
    SignInMode RequestedSignInMode { get; set; } = SignInMode.Prompt;

    IdentifierHeadline? SelectedHeadlineOrNothing { get; set; }

    string SelectedPrefix { get; set; } = "unknown";

    // TODO should be something like  get => ThisWebsiteConfig?.AutoSignInChoice == AutoSignInMode.Identifier;
    bool IsAutoSignIn { get; set; }

    WebsiteConfig? ThisWebsiteConfig { get; set; }

    async Task updateSelectedPrefix(string prefix)
    {
        SelectedPrefix = prefix;
        // TODO following should be just un/resubscribe to another websiteConfig? ... and this UI is made responsive to an IObserver<WebsiteConfig>
        Debug.Assert(GetOriginUri() is not null);
        await getWebsiteConfig(GetOriginUri()!);
        StateHasChanged();
    }

    async Task updateIsCredentialRemembered(bool isChecked)
    {
        IsCredentialRemembered = isChecked;
        // TODO EE! See updateIsPrefixRemembered for how this should be implemented
        await Task.Delay(0);
        return;
    }

    async Task updateIsPrefixRemembered(bool isChecked)
    {
        // TODO implementation should just push an update into websiteConfigService, and rest be reactive to that.
        IsPrefixRemembered = isChecked;
        Debug.Assert(GetOriginUri() is not null);
        var getOrCreateWebsiteRes = await websiteConfigService.GetOrCreateWebsiteConfig(GetOriginUri()!);
        if (getOrCreateWebsiteRes.IsFailed)
        {
            logger.LogError("Error in websiteService {0}", getOrCreateWebsiteRes.Errors);
            return;
        }
        WebsiteConfig newWebsite = getOrCreateWebsiteRes.Value;
        if (SelectedHeadlineOrNothing is not null)
        {
            if (isChecked)
            {
                newWebsite = newWebsite with { RememberedPrefixOrNothing = SelectedPrefix };
            }
            else
            {
                // since the user has chosen to forget this identifier, we will also forget the auto sign in choice
                // TODO: once this UI is made responsive to an IObserver<WebsiteConfig> we can move this logic into the service
                IsAutoSignIn = false;
                newWebsite = newWebsite with { RememberedPrefixOrNothing = null, AutoSignInChoice = AutoSignInMode.None };
            }

            logger.LogInformation("updateIsRemembered: about to update: {0}", newWebsite);
            var res = await websiteConfigService.Update(newWebsite);
            if (res is null || res.IsFailed)
            {
                throw new Exception($"Error updating website: {res?.Errors}");
            }
            Debug.Assert(GetOriginUri() is not null);
            await getWebsiteConfig(GetOriginUri()!); // StateHasChanged();
            return;
        }
        else
        {
            logger.LogError("updateIsRemembered: Unexpected null Identifier selection");
        }
        return;
    }

    async Task updateIsAutoSignIn(bool isChecked)
    {
        // TODO implementation should just push an update into websiteConfigService, and rest be reactive to that.
        IsAutoSignIn = isChecked;
        Debug.Assert(GetOriginUri() is not null);
        var result = await websiteConfigService.GetOrCreateWebsiteConfig(GetOriginUri()!);

        WebsiteConfig newWebsiteConfig = result.Value;
        if (SelectedHeadlineOrNothing is not null)
        {
            if (isChecked)
            {
                // TODO issues if user changes identifier after setting willSignInAutomatically or if willSignAutomatically was set for a different identifier earlier
                // put this logic into service and simplify here once this UI is made responsive to an IObserver<WebsiteConfig>
                IsPrefixRemembered = true;
                newWebsiteConfig = newWebsiteConfig with { RememberedPrefixOrNothing = SelectedPrefix, AutoSignInChoice = AutoSignInMode.Identifier };
            }
            else
            {
                newWebsiteConfig = newWebsiteConfig with { RememberedPrefixOrNothing = SelectedPrefix, AutoSignInChoice = AutoSignInMode.None };
            }


            logger.LogInformation("updateWillSignInAutomatically: about to update: {0}", newWebsiteConfig);
            var res = await websiteConfigService.Update(newWebsiteConfig);
            if (res is null || res.IsFailed)
            {
                IsAutoSignIn = false;
                logger.LogError("Error updating website: {0}", res?.Errors);
            }
            else
            {
                logger.LogInformation("updateWillSignInAutomatically: setting willSignInAutomatically2 {0}", res);
                IsAutoSignIn = isChecked;
            }
            Debug.Assert(GetOriginUri() is not null);
            await getWebsiteConfig(GetOriginUri()!); //  StateHasChanged();
            return;
        }
        else
        {
            logger.LogError("Unexpected null Identifier selection");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        logger.LogInformation($"OnInitialized");
        return;
    }

    protected override async Task OnParametersSetAsync()
    {
        logger.LogInformation($"OnParametersSetAsync");
        await base.OnParametersSetAsync();
        InitializeOrOnNextPrefs(await preferencesService.GetPreferences());
        await GetInitialHeadlines();

        logger.LogInformation("OnParametersSetAsync requestId {r}", requestId);

        // TODO remove temporary code below for exploration.  Will be useful when requested to sign a specific request, such as issuing a credential
        var initialUriQuery = extensionEnvironmentService.InitialUriQuery;
        logger.LogInformation($"URI query: {initialUriQuery}");
        // TODO add try-catch?
        // TODO EE! decide whether these values (RequestId, Type, and others) should come in page parameters, initialUriQuery, or database/service.
        if (QueryHelpers.ParseQuery(initialUriQuery).TryGetValue("message", out var outterMessage))
        {
            var decodedMsg = HttpUtility.UrlDecode(outterMessage);
            logger.LogInformation("Chrome URI query message decoded: {msg}", decodedMsg);
            var decodedMsg2 = HttpUtility.UrlDecode(decodedMsg);
            logger.LogInformation("Chrome URI query message decoded2: {msg}", decodedMsg2);

            if (!IsJsonValid(decodedMsg2))
            {
                logger.LogError("Chrome URI query Invalid JSON message: {msg}", decodedMsg2);
                return;
            };

            string jsonString = decodedMsg2.ToString(); // Convert StringValues to string

            // Parse the JSON string
            var jsonDocument = JsonDocument.Parse(jsonString);
            var jsonObject = jsonDocument.RootElement;

            // Extract the "Type" value
            if (jsonObject.TryGetProperty("type", out var typeElement))
            {
                string type = typeElement.GetString() ?? String.Empty;

                if (jsonObject.TryGetProperty("requestId", out var requestId2))
                {
                    string requestId3 = requestId2.GetString() ?? String.Empty;
                    requestId = requestId3;
                    logger.LogInformation("Chrome URI query requestId: '{0}'", requestId);
                }

                logger.LogInformation("Processing message of type: {t}", type);
                switch (type)
                {
                    // TODO EE how should these string values be aligned with the definitions in ExCsInterface.ts?
                    case "/signify/authorize":
                        RequestedSignInMode = SignInMode.Prompt;
                        break;
                    case "/signify/authorize/identifier":
                    case "/signify/authorize/aid":
                        RequestedSignInMode = SignInMode.Identifier;
                        break;
                    case "/signify/authorize/credential":
                        RequestedSignInMode = SignInMode.Credential;
                        break;
                    default:
                        logger.LogInformation("Unknown message type: {0}", type);
                        return;
                }
            }
            else
            {
                logger.LogError("No 'type' property found in outer message");
                return;
            }

        }
        else
        {
            logger.LogError("Could not find UriQuery content containing outter \"message\".");
            return;
        }
    }

    async Task GetInitialHeadlines()
    {
        logger.LogInformation("GetHeadlines...");
        var res = await identifiersService.GetIdentifierHeadlines();
        if (res != null && res.IsSuccess)
        {
            logger.LogInformation("GetIdentifierHeadlines: count {1}", res.Value.Count);
            IdentifierHeadlines = res.Value;
            IdentifierHeadlines = IdentifierHeadlines.OrderBy(a => a.Alias).ToList();
            if (IdentifierHeadlines.Count > 0)
            {
                Debug.Assert(GetOriginUri() is not null);
                var wcRes = await websiteConfigService.GetOrCreateWebsiteConfig(GetOriginUri()!);
                logger.LogInformation("GetHeadlines: getOrCreateWebsite: {0}", JsonSerializer.Serialize(wcRes));
                if (wcRes.IsFailed)
                {
                    logger.LogError("Error in websiteService: {0}", wcRes.Errors);
                    return;
                }
                WebsiteConfig newWebsite = wcRes.Value;
                if (newWebsite.RememberedPrefixOrNothing is not null)
                {
                    SelectedHeadlineOrNothing = IdentifierHeadlines.First(a => a.Prefix == newWebsite.RememberedPrefixOrNothing);
                }
                else
                {
                    // use the user's general preferences or otherwise the first headline
                    SelectedHeadlineOrNothing = IdentifierHeadlines.First(a => a.Prefix == AppActivePrefix);
                    if (SelectedHeadlineOrNothing is null)
                    {
                        SelectedHeadlineOrNothing = IdentifierHeadlines.First();
                    }
                }
                logger.LogInformation("SelectedHeadlineOrNothing: Alias: {0}", SelectedHeadlineOrNothing?.Alias ?? "UNSET!");
                SelectedPrefix = SelectedHeadlineOrNothing?.Prefix ?? "UNSET!";
                Debug.Assert(SelectedHeadlineOrNothing is null, "Unexpected null value for SelectedHeadlineOrNothing");
                Debug.Assert(GetOriginUri() is not null);
                await getWebsiteConfig(GetOriginUri()!);
                StateHasChanged();
            }
            else
            {
                throw new Exception("No Identifiers found");
            }
        };
    }

    async Task getWebsiteConfig(Uri uri)
    {
        logger.LogInformation("getWebsiteConfig uri: {uri}", uri);
        var x = await websiteConfigService.GetOrCreateWebsiteConfig(uri);
        if (x.IsSuccess)
        {
            ThisWebsiteConfig = x.Value;
            // TODO: update the getter for the following properties to use this
            IsPrefixRemembered = x.Value.RememberedPrefixOrNothing == SelectedPrefix;
            IsAutoSignIn = x.Value.AutoSignInChoice == AutoSignInMode.Identifier;
            StateHasChanged();
        }
        else
        {
            throw new Exception("No Identifiers found");
        }
    }

    void InitializeOrOnNextPrefs(Preferences prefs)
    {
        AppActivePrefix = prefs.SelectedAid;
        this.StateHasChanged();
    }

    /* 
    // SignIn()
    */
    async Task SignIn(SignInMode RequestedSignInMode, string requestId2, string SelectedPrefix)
    {
        ReplyMessageData<AuthorizeResult> replyMessageData;
        switch (RequestedSignInMode)
        {
            case SignInMode.Identifier:
                logger.LogInformation("SignIn with Identifier: {0}", SelectedPrefix);
                replyMessageData = new(
                    "/signify/reply",
                    new AuthorizeResult(null, new AuthorizeResultIdentifier(SelectedPrefix)),
                    requestId: requestId2
                );
                break;
            case SignInMode.Credential:
                logger.LogInformation("SignIn with Credential: {0}", "Test from KERI Auth");
                replyMessageData = new(
                    "/signify/reply",
                    new AuthorizeResult(new AuthorizeResultCredential("rawraw", "Test from KERI Auth"), null),
                    requestId: requestId2
                );
                break;
            default:
                return;
        }
        await appSwMessagingService.SendToServiceWorkerAsync<AuthorizeResult>(replyMessageData);
        UIHelper.CloseWindow();
    }

    async Task Cancel()
    {
        await Task.Delay(0);
        // TODO Send cancel or Error to SendToServiceWorkerAsync
        //
        // TODO may need to assure message makes it to the service-worker?
        // Close blazor application
        UIHelper.CloseWindow();
    }

    public void Dispose()
    {
        // TODO unsubscribe from services, observables
        ;
    }

    static bool IsJsonValid(string jsonString)
    {
        try
        {
            // Attempt to parse the JSON string
            var jsonDocument = JsonDocument.Parse(jsonString);
            return true;
        }
        catch (JsonException ex)
        {
            // JSON parsing failed, likely due to improper escaping or formatting
            Console.WriteLine($"JSON Parsing Error: {ex.Message}");
            return false;
        }
    }
}

<div id="@this.GetType().Name" class="bt-body-page">
    <MudStack Class="bt-main">
        <div class="bt-main-inside-scroll">
            @switch (RequestedSignInMode)
            {
                case SignInMode.Identifier:
                    <MudText Typo="Typo.h6">Request to Sign In with Identifier</MudText>
                    break;
                case SignInMode.Credential:
                    <MudText Typo="Typo.h6">Request to Sign In with Credential</MudText>
                    break;
                case SignInMode.Prompt:
                    <MudText Typo="Typo.h6">Request to Sign In</MudText>
                    break;
            }
            <MudText Typo="Typo.body1"><em>@OriginStr</em></MudText>

            @if (RequestedSignInMode == SignInMode.Prompt)
            {
                <MudStack Class="gap-0">
                    <MudText Class="mt-6"><b>Sign-in method</b></MudText>
                    <MudRadioGroup @bind-Value="RequestedSignInMode" T=@SignInMode Row="true">
                        <MudRadio Class="d-block" Value=@(SignInMode.Identifier)>Identifier</MudRadio>
                        <MudRadio Class="d-block" Value=@(SignInMode.Credential)>Credential</MudRadio>
                    </MudRadioGroup>
                </MudStack>
            }

            @if (RequestedSignInMode == SignInMode.Identifier)
            {
                <MudStack Class="gap-0">
                    <MudText Class="mt-6"><b>Identifier</b></MudText>
                    <MudSelect T="string" Value="@SelectedPrefix" ValueChanged="async (string v) => await updateSelectedPrefix(v)">
                        @foreach (var identifierHeadline in IdentifierHeadlines)
                        {
                            <MudSelectItem Value="@identifierHeadline.Prefix">
                                <MudStack Row Style="align-items:center;">
                                    <MudIcon Icon=@identifierHeadline.Identicon ViewBox="0 0 100 100" Style="border-style:solid; border-color:black; border-width:2px; border-radius:50%; width:35px; height:35px; overflow:hidden; margin-top: 3px;" />
                                    <div class="bt-sad-2" style="display:contents;">
                                        <MudText Typo="Typo.subtitle2" Color="Color.Primary">@identifierHeadline.Alias</MudText>
                                    </div>
                                </MudStack>
                            </MudSelectItem>
                        }
                    </MudSelect>
                </MudStack>
            }
            @if (RequestedSignInMode == SignInMode.Credential)
            {
                <MudStack Class="gap-0">
                    <MudText Class="mt-6"><b>Credential</b></MudText>
                    <MudSelect T="string" Value="@SelectedPrefix" ValueChanged="async (string v) => await updateSelectedPrefix(v)">
                        @foreach (var identifierHeadline in IdentifierHeadlines)
                        {
                            <MudSelectItem Value="@identifierHeadline.Prefix">
                                <MudStack Row Style="align-items:center;">
                                    <MudIcon Icon=@identifierHeadline.Identicon ViewBox="0 0 100 100" Style="border-style:solid; border-color:black; border-width:2px; border-radius:50%; width:35px; height:35px; overflow:hidden; margin-top: 3px;" />
                                    <div class="bt-sad-2" style="display:contents;">
                                        <MudText Typo="Typo.subtitle2" Color="Color.Primary">@identifierHeadline.Alias</MudText>
                                    </div>
                                </MudStack>
                            </MudSelectItem>
                        }
                    </MudSelect>
                </MudStack>
            }
            <MudStack Class="gap-0">
                <MudText Class="mt-6"><b>Options</b></MudText>
                <MudText Typo="Typo.body1">for future requests from <em>@OriginStr</em></MudText>
                <MudCheckBox Label="Remember this identifier" Value="@IsPrefixRemembered" id="rememberCheckBox" ValueChanged="async (bool b) => await updateIsPrefixRemembered(b)" />
                <MudCheckBox Label="INDENT Remember this credential" Value="@IsCredentialRemembered" id="rememberCredentialCheckBox" ValueChanged="async (bool b) => await updateIsCredentialRemembered(b)" />
                <MudCheckBox Label="Enable Auto-SignIn" Value="@IsAutoSignIn" id="enableAutoSitnInCheckBox" ValueChanged="async (bool b) => await updateIsAutoSignIn(b)" />
                @{
                    /* If "Enable auto SignIn" is set, but not with this Identifier, show the other identifier */
                    if (ThisWebsiteConfig?.AutoSignInChoice == AutoSignInMode.Identifier && ThisWebsiteConfig?.RememberedPrefixOrNothing != SelectedPrefix)
                    {
                        <MudText Class="pt-0 mt-0 pl-10" Typo="Typo.caption">(enabled for "@IdentifierHeadlines.First(x => x.Prefix == ThisWebsiteConfig?.RememberedPrefixOrNothing).Alias)"</MudText>
                    }
                }
            </MudStack>
        </div>
    </MudStack>
    <MudStack Row="true" class="bt-button-tray">
        <MudSpacer />
        <MudButton StartIcon="@Icons.Material.Filled.Cancel" Variant="Variant.Filled" Color="Color.Tertiary" @onclick="Cancel">Cancel</MudButton>
        <MudButton StartIcon="@Icons.Material.Filled.Login" Variant="Variant.Filled" Color="Color.Primary" OnClick="async () => await SignIn(RequestedSignInMode, requestId, SelectedPrefix)">Sign In</MudButton>
    </MudStack>
</div>

<style>
    .mud-select .mud-select-input .mud-input-slot {
        height: auto;
    }
</style>