@page "/Dashboard.html"
@using Extension.Services.Storage
@inject NavigationManager navManager
@inject IStorageService storageService
@inject IJSRuntime js
@inject ILogger<DashboardPage> logger
@inject IWebsiteConfigService websiteConfigService
@inject ISignifyClientService signifyClientService
@inject AppCache appCache
@inherits AppCacheReactiveComponentBase

@using Extension.Services.SignifyService.Models

@code {
    // fields
    int identifiersCount = 0;
    int identifiersCount2 = 0;

    // properties
    Aid? SelectedAid { get; set; }
    int NumWebsites { get; set; } = 0;
    List<RecursiveDictionary> Credentials = [];

    // reactive properties
    // TODO P2 FilteredCredentials should also include what a verifier might see.  What's the filter expression for that?
    // TODO P2 confirm what we want to show
    string KeriaConnectStatusText => appCache.IsConnectedToKeria ? "Connected" : appCache.IsAuthenticated ? "Not Connected" : "Locked";
    Color KeriaConnectStatusColor => appCache.IsConnectedToKeria ? Color.Success : appCache.IsAuthenticated ? Color.Warning : Color.Error;
    List<RecursiveDictionary> FilteredCredentials => WebsiteConfigDisplay.filterCredentials(Credentials, [("sad.a.i", SelectedPrefix), ("sad.i", SelectedPrefix)]);
    int NumCredentialsThisIdentifier => FilteredCredentials.Count();
    string SelectedPrefix => appCache.MyPreferences.SelectedPrefix;
    string? SelectedIdenticon => SelectedAid != null ? Helper.Identicon.MakeIdenticon(SelectedPrefix) : null;
    string SelectedAlias => SelectedAid?.Name ?? "";

    protected override async Task OnInitializedAsync()
    {
        logger.LogInformation($"OnInitializedAsync");

        // TODO P2 Evolve this temporary test into a proper connectivity check that checks and fast-fails if not connected to the underlying module. Or, delete this.
        var x = await signifyClientService.TestAsync();
        logger.LogInformation($"TestAsync result: {x.Value}");

        // TODO P2 this identifiers count should be in AppCache
        var res = await signifyClientService.GetIdentifiers();
        if (res is not null && res.IsSuccess)
        {
            identifiersCount = res.Value.Aids.Count();
        }

        identifiersCount2 = appCache.MyKeriaConnectionInfo.IdentifiersList[0].Aids.Count;
    }

    protected override async Task OnParametersSetAsync()
    {
        logger.LogInformation("OnParemetersSetAsync");
        var x = await websiteConfigService.GetList();
        if (x.IsSuccess && x.Value is not null)
        {
            NumWebsites = x.Value.WebsiteList.Count();
        }
        else
        {
            NumWebsites = 0;
        }

        // TODO P2 move this into or to use AppCache and make it reactive
        // Handle effects of value of MyPreferences updates
        var identifiersRes = await signifyClientService.GetIdentifiers();
        if (identifiersRes is not null && identifiersRes.IsSuccess && SelectedPrefix != string.Empty)
        {
            SelectedAid = identifiersRes.Value.Aids.FirstOrDefault(aid => aid.Prefix == SelectedPrefix);
        }

        // Get credentials for the number of credentials
        // TODO P2 See filterCredentials in WebsiteConfigDisplay, and move that into a helper
        {
            var res = await signifyClientService.GetCredentials();
            if (res.IsFailed || res.Value is null)
            {
                logger.LogWarning($"Error: {res.Errors}");
                return;
            }
            else
            {
                Credentials = res.Value;
            }
        }
    }
}

<div id="@this.GetType().Name" class="bt-body-page">
    <div class="d-flex gap-3 bt-main">
        <div class="bt-main-inside-scroll" style="align-items:center; justify-content: center; display:flex; flex-direction:column;">
            <MudText Typo="Typo.h6">Dashboard</MudText>
            <MudStack AlignItems="AlignItems.Center" Class="mudstack-full-width">

                <MudStack Class="bt-home-background-box" Style="background: var(--mud-palette-background-gray); width: -webkit-fill-available; padding:10px;">
                    <MudStack Row>
                        <MudText Class="mudtext-half-width-left">
                            <MudLink OnClick="() => navManager.NavigateTo(AppConfig.RouteToManageAgents)">KERI Agent</MudLink>
                        </MudText>
                        <div Class="mudtext-half-width-right" style="display:flex; align-items:center;">
                            <MudIcon Icon="@Icons.Material.Filled.Check" Color=KeriaConnectStatusColor Class="bt-home-status-icon"></MudIcon>
                            <MudText Typo="Typo.body1">@KeriaConnectStatusText</MudText>
                        </div>
                    </MudStack>
                    <MudStack Row>
                        <MudText Class="mudtext-half-width-left">
                            <MudLink OnClick="() => navManager.NavigateTo(AppConfig.RouteToIdentifiers)">Identifiers</MudLink>
                        </MudText>
                        <MudText Class="mudtext-half-width-right bt-home-status-number">@identifiersCount   @identifiersCount2</MudText>
                    </MudStack>

                    <MudStack Row>
                        <MudText Class="mudtext-half-width-left">
                            <MudLink OnClick="() => navManager.NavigateTo(AppConfig.RouteToWebsites)">Websites</MudLink>
                        </MudText>
                        <MudText Class="mudtext-half-width-right bt-home-status-number">@NumWebsites</MudText>
                    </MudStack>
                </MudStack>

                <MudStack Class="bt-home-background-box" Style="background: var(--mud-palette-action-default-hover); width: -webkit-fill-available; padding:10px;">
                    <MudStack Row Style="align-items:center;">
                        <MudText Class="mudtext-half-width-left">
                            <MudLink OnClick="() => navManager.NavigateTo(AppConfig.RouteToIdentifier + SelectedPrefix)">Selected Identifier</MudLink>
                        </MudText>
                        <MudStack Class="mudtext-half-width-right" Row Style="align-items: center; min-height:38px;">
                            @if (!string.IsNullOrEmpty(SelectedPrefix))
                            {
                                <MudIcon Icon=@SelectedIdenticon ViewBox="0 0 100 100" Style="text-align:left; border-style:solid; border-color:black; border-width:2px; border-radius:50%; width:35px; height:35px; overflow:hidden; margin-top: 0px;" />
                                <MudText Style="overflow-wrap: anywhere;">@SelectedAlias</MudText>
                            }
                        </MudStack>
                    </MudStack>

                    <MudStack Row>
                        <MudText Class="mudtext-half-width-left">
                            <MudLink OnClick="() => navManager.NavigateTo(AppConfig.RouteToCredentials)">Credentials</MudLink>
                        </MudText>
                        <MudText Class="mudtext-half-width-right bt-home-status-number">@NumCredentialsThisIdentifier</MudText>
                    </MudStack>
                </MudStack>
            </MudStack>
        </div>
    </div>
</div>
<style>
    .mudstack-full-width {
        width: 100%;
    }

    .mudtext-half-width-left {
        width: 50%;
        text-align: right
    }

    .mudtext-half-width-right {
        width: 50%;
        text-align: left
    }

    .bt-home-status-number {
        padding-left:13px;
    }

    .bt-home-status-icon {
        margin-left:5px;
        margin-right:18px;
        padding-left:0px;
    }

    .bt-home-background-box {
        border-radius:12px;
    }
</style>
