@page "/Test.html"
@using Extension.Models
@using Extension.Services
@using Extension.Components
@using System.Reactive.Linq
@inject NavigationManager navManager
@using static Extension.AppConfig;
@inject IJSRuntime js
@using static Extension.Helper.PreviousPage
@inject ILogger<PreferencesPage> logger
@inject AppCache a
@using System.Linq.Expressions

@implements IDisposable

@code
{
    private class BoolItem
    {
        public Expression<Func<bool>> Condition { get; set; } = default!;
        public string? Label { get; set; }
        public int Indent { get; set; }
        public BoolItem(Expression<Func<bool>> condition, string? label = null, int indent = 0)
        {
            Condition = condition;
            Label = label;
            Indent = indent;
        }
    }

    private List<BoolItem> Conditions = new();

    protected override async Task OnInitializedAsync()
    {
        await this.SubscribeToAppCache(a);

        logger.LogInformation("OnInitializedAsync");
        Conditions = new()
        {
            new BoolItem(() => a.IsReadyToTransact, null, 0),
            new BoolItem(() => a.IsNotWaiting, null, 1),
            new BoolItem(() => a.IsNotWaitingOnKeria, null, 2),
            new BoolItem(() => a.IsNotWaitingOnUser, null, 2),
            new BoolItem(() => a.IsNotWaitingOnPendingRequests, null, 2),
            new BoolItem(() => a.IsBwNotWaitingOnApp, null, 2),
            new BoolItem(() => a.IsAppNotWaitingOnBw, null, 2),
            new BoolItem(() => a.IsConnectedToKeria, null, 1),
            new BoolItem(() => a.IsIdentifierFetched, null, 2),
            new BoolItem(() => a.IsAuthenticated, null, 2),
            new BoolItem(() => a.IsSessionUnlocked, null, 3),
            new BoolItem(() => a.IsSessionPasscodeSet, null, 4),
            new BoolItem(() => a.IsSessionNotExpired, null, 4),
            new BoolItem(() => a.IsPasscodeHashSet, null, 4),
            new BoolItem(() => a.IsInitialized, null, 3),
            new BoolItem(() => a.IsConfigured, null, 4),
            new BoolItem(() => a.IsPasscodeHashSet, null, 5),
            new BoolItem(() => a.IsKeriaInitialConnectSuccess, null, 5),
            new BoolItem(() => a.IsKeriaConfigValidated, null, 6),
            new BoolItem(() => a.IsProductOnboarded, null, 6),
            new BoolItem(() => a.IsPrivacyAgreed, null, 7),
            new BoolItem(() => a.IsPrivacyAgreedUtc, null, 8),
            new BoolItem(() => a.IsPrivacyHashExpected, null, 8),
            new BoolItem(() => a.IsTosAgreed, null, 7),
            new BoolItem(() => a.IsTosAgreedUtc, null, 8),
            new BoolItem(() => a.IsTosHashExpected, null, 8),
            new BoolItem(() => a.IsInstallAcknowledged, null , 7),
            new BoolItem(() => a.IsInstalledVersionAcknowledged, null, 8),
            new BoolItem(() => a.MyOnboardState.IsWelcomed, null, 8),
        };
    }

    public void Dispose() {
        this.UnsubscribeFromAppCache();
        GC.SuppressFinalize(this);
    }
}

<div id="@this.GetType().Name" class="bt-body-page">
    <div class="d-flex gap-3 bt-main">
        <div class="bt-main-inside-scroll">
            <MudText Typo="Typo.h6">Test</MudText>
            <MudStack>
                <MudStack Spacing="1">
                    @foreach (var item in Conditions)
                    {
                        <TestPageComponent Condition="@item.Condition" Label="@item.Label" Indent="@item.Indent" />
                    }
                </MudStack>
            </MudStack>
            <MudStack>
                <MudLink Href="@RouteToWelcome" Target="_self">Welcome</MudLink>
                <MudLink Href="@RouteToNewRelease" Target="_self">Release</MudLink>
                <MudLink Href="@RouteToTerms" Target="_self">Terms</MudLink>
                <MudLink Href="@RouteToPrivacy" Target="_self">Privacy</MudLink>
                <MudLink Href="@RouteToConfigure" Target="_self">Configure</MudLink>
                <MudLink Href="@RouteToUnlock" Target="_self">Unlock</MudLink>
                <MudLink Href="@RouteToConnecting" Target="_self">Connecting</MudLink>
            </MudStack>
        </div>
    </div>
    <MudStack Row="true" class="bt-button-tray">
        <MudIconButton Icon="@Icons.Material.Filled.ArrowBackIosNew" Variant="Variant.Text" OnClick='@(async () => await GoBack(js))' Class="justify-start" />
        <MudSpacer />
    </MudStack>
</div>
