@page "/Credentials.html"
@layout Layouts.MainLayout
@using Extension.Services.Storage
@inherits AuthenticatedPageBase

@using System.Collections.Immutable

@inject NavigationManager navManager
@inject IJSRuntime js
@inject ILogger<CredentialsPage> logger
@inject ISignifyClientService signifyClientService
@inject AppCache appCache;

@code {
    // fields
    List<RecursiveDictionary> credentials = new();

    // properties
    bool IsFiltered { get; set; } = true;
    bool IsCredentialsFetched;
    List<RecursiveDictionary> DisplayedCredentials => IsFiltered ? IssuerCredentials : credentials;

    // reactive properties
    Preferences Prefs => appCache.MyPreferences;
    string CountLabel => IssuedAndHeldCredentials.Count.ToString();
    List<RecursiveDictionary> IssueeCredentials => (credentials is null || Prefs.SelectedPrefix is null) ? new List<RecursiveDictionary>() : WebsiteConfigDisplay.filterCredentials(credentials, [("sad.a.i", Prefs.SelectedPrefix)]);
    List<RecursiveDictionary> IssuerCredentials => (credentials is null || Prefs.SelectedPrefix is null) ? new List<RecursiveDictionary>() : WebsiteConfigDisplay.filterCredentials(credentials, [("sad.i", Prefs.SelectedPrefix)]);
    List<RecursiveDictionary> IssuedAndHeldCredentials => (credentials is null || Prefs.SelectedPrefix is null) ? new List<RecursiveDictionary>() : WebsiteConfigDisplay.filterCredentials(credentials, [("sad.a.i", Prefs.SelectedPrefix), ("sad.i", Prefs.SelectedPrefix)]);

    // TODO P2 what about other presented credentials for verification?

    string Identicon => Helper.Identicon.MakeIdenticon(Prefs.SelectedPrefix);

    protected override async Task OnInitializedAsync()
    {
        logger.LogInformation($"OnInitializedAsync");

        // Initialize base class for authentication-based render suppression
        InitializeAppCache(appCache);

        await this.SubscribeToAppCache(appCache, async () => await InvokeAsync(StateHasChanged));
    }

    protected override async Task OnParametersSetAsync()
    {
        await getCredentials();
        IsCredentialsFetched = true;
        StateHasChanged();
    }

    // TODO P2 DRY with other invocations of GetCredentials
    private async Task getCredentials()
    {
        var res = await signifyClientService.GetCredentials();
        if (res.IsFailed || res.Value is null)
        {
            logger.LogWarning($"Error: {res.Errors}");
            return;
        }
        else
        {
            credentials = res.Value;
        }
    }

    private void setIsFiltered(bool b)
    {
        IsFiltered = b;
        StateHasChanged();
    }
}


<div id="@this.GetType().Name" class="bt-body-page">
    <MudStack Class="bt-main">
        <div class="bt-main-inside-scroll">
            <div style="display:flex;">
                <MudStack Row="true">
                    <MudText Class="bt-page-title">Credentials</MudText>
                    <MudText Class="bt-page-title">(@CountLabel)</MudText>
                    <MudTooltip Delay="0.5"
                                Text="Shows credentials involving the selected Identifier">
                        <MudIcon Icon="@Icons.Material.Outlined.Info" Class="bt-info-icon" />
                    </MudTooltip>
                </MudStack>
            </div>

            @if (IsCredentialsFetched)
            {
                <MudStack Class="d-flex justify-center">
                    @if (credentials.Any())
                    {
                        @if (IssueeCredentials.Any())
                        {
                            <MudExpansionPanels Elevation="0" Dense="true" MultiExpansion="true">
                                <MudExpansionPanel>
                                    <TitleContent>
                                        <MudText><b>Held as Issuee</b> (@IssueeCredentials.Count())</MudText>
                                    </TitleContent>
                                    <ChildContent>
                                        <MudExpansionPanels Dense="true" Elevation="0" MultiExpansion="true" Class="ml-4">
                                            @foreach (var credential in IssueeCredentials)
                                            {
                                                var ct = credential.GetValueByPath("schema.title")?.Value?.ToString() ?? string.Empty;
                                                <MudExpansionPanel>
                                                    <TitleContent>
                                                        <MudText><b>@ct</b></MudText>
                                                    </TitleContent>
                                                    <ChildContent>
                                                        <CredentialDisplay credential="@credential" displayDetail="@CredentialDisplay.CredDetail.Typical" />
                                                    </ChildContent>
                                                </MudExpansionPanel>
                                            }
                                        </MudExpansionPanels>
                                    </ChildContent>
                                </MudExpansionPanel>
                            </MudExpansionPanels>
                        }

                        @if (IssuerCredentials.Any())
                        {
                            <MudExpansionPanels Elevation="0" Dense="true" MultiExpansion="true">
                                <MudExpansionPanel>
                                    <TitleContent>
                                        <MudText><b>Issued as Issuer</b> (@IssuerCredentials.Count())</MudText>
                                    </TitleContent>
                                    <ChildContent>
                                        <MudExpansionPanels Dense="true" Elevation="0" MultiExpansion="true" Class="ml-4">
                                            @foreach (var credential in IssuerCredentials)
                                            {
                                                var ct = credential.GetValueByPath("schema.title")?.Value?.ToString() ?? string.Empty;
                                                <MudExpansionPanel>
                                                    <TitleContent>
                                                        <MudText><b>@ct</b></MudText>
                                                    </TitleContent>
                                                    <ChildContent>
                                                        <CredentialDisplay credential="@credential" displayDetail="@CredentialDisplay.CredDetail.Typical" />
                                                    </ChildContent>
                                                </MudExpansionPanel>
                                            }
                                        </MudExpansionPanels>
                                    </ChildContent>
                                </MudExpansionPanel>
                            </MudExpansionPanels>
                        }
                    }
                    else
                    {
                        <MudCard Elevation="0">No credentials found.</MudCard>
                    }
                </MudStack>
            }
        </div>
    </MudStack>
    <MudStack Row="true" class="bt-button-tray">
        <MudIconButton Icon="@Icons.Material.Filled.ArrowBackIosNew" Variant="Variant.Text" OnClick='@(async () => await GoBack(js))' Class="justify-start" />
        <MudSpacer></MudSpacer>
    </MudStack>
</div>
