@page "/ManagePreferences.html"
@layout Layouts.MainLayout
@using Extension.Models
@using Extension.Models.Messages.AppBw
@using Extension.Services
@using System.Reactive.Linq
@using Extension.Services.Storage
@using static Extension.AppConfig;
@using static Extension.Helper.PreviousPage

@inject NavigationManager navManager
@inject IStorageService storageService
@inject IJSRuntime js
@inject AppCache appCache  // Reactive: subscribes in OnInitializedAsync via SubscribeToAppCache()
@inject ILogger<PreferencesPage> logger
@inject IAppBwMessagingService appBwMessagingService

@implements IDisposable

@code
{
    // types
    enum DrawerVariantSupportedInTab
    {
        Persistent = MudBlazor.DrawerVariant.Persistent,
        Temporary = MudBlazor.DrawerVariant.Temporary,
        Responsive = MudBlazor.DrawerVariant.Responsive
        // Mini = MudBlazor.DrawerVariant.Mini, // has layout issues
    }
    enum DrawerVariantSupportedInSidePanel
    {
        Persistent = MudBlazor.DrawerVariant.Persistent,
        Temporary = MudBlazor.DrawerVariant.Temporary,
        Responsive = MudBlazor.DrawerVariant.Responsive
        // Mini = MudBlazor.DrawerVariant.Mini, // has layout issues
    }

    // fields

    // properties

    // reactive properties
    Preferences Prefs => appCache.MyPreferences;
    float InactivityTimeout => Prefs.InactivityTimeoutMinutes;
    string InactivityTimeoutLabel => InactivityTimeout.ToString() + " " + (InactivityTimeout <= 1.0f ? "minute" : "minutes");
    bool IsDarkTheme => Prefs.IsDarkTheme;
    MudBlazor.DrawerVariant DrawerVariantInTab => Prefs.DrawerVariantInTab;
    MudBlazor.DrawerVariant DrawerVariantInSidePanel => Prefs.DrawerVariantInSidePanel;
    protected override async Task OnInitializedAsync()
    {
        // Subscribe to AppCache changes - will trigger StateHasChanged when state updates
        await this.SubscribeToAppCache(appCache);
        logger.LogInformation("OnInitializedAsync");
    }

    public void Dispose()
    {
        this.UnsubscribeFromAppCache();
        GC.SuppressFinalize(this);
    }

    async Task Persist(Preferences prefs)
    {
        await storageService.SetItem<Preferences>(prefs);
        // Note: reactive update of AppCache will trigger this page's StateHasChanged via SubscribeToAppCache()

        // Note: timer updates in MainLayout.razor are reactive via AppCache subscription
        // BackgroundWorker timer reset should also be updated because of reactive to this preferences change, or app activity in general

        // TODO P2 Perf BW can be reactive, too...
        // Notify BW so it can reset its inactivity timer with new value?
        // Or, does BW know to treat any Prefs change as user activity?
        var message = new AppBwUserActivityMessage();
        await appBwMessagingService.SendToBackgroundWorkerAsync(message);
    }

    async Task SetAndPersistIsDarkTheme(bool isDarkTheme)
    {
        await Persist(Prefs with { IsDarkTheme = isDarkTheme });
    }

    async Task SetAndPersistDVIT(DrawerVariant dv)
    {
        await Persist(Prefs with { DrawerVariantInTab = dv });
    }

    async Task SetAndPersistDVISP(DrawerVariant dv)
    {
        await Persist(Prefs with { DrawerVariantInSidePanel = dv });
    }

    async Task SetAndPersistInactivityTimeout(float inactivityTimeout)
    {
        await Persist(Prefs with { InactivityTimeoutMinutes = inactivityTimeout });
    }

    // Reset preferences to default, preserving selected prefix and drawer open states
    private async Task ResetToDefault()
    {
        await Persist(AppConfig.DefaultPreferences with
        {
            SelectedPrefix = Prefs.SelectedPrefix,
            IsPersistentDrawerOpenInSidePanel = Prefs.IsPersistentDrawerOpenInSidePanel,
            IsPersistentDrawerOpenInTab = Prefs.IsPersistentDrawerOpenInTab,
            IsStored = true
        });
    }
}

<div id="@this.GetType().Name" class="bt-body-page">
    <div class="d-flex gap-3 bt-main">
        <div class="bt-main-inside-scroll">
            <MudText Class="bt-page-title">Preferences</MudText>
            <MudStack>
                <MudText Class="bt-pref-group-label0">
                    Theme
                </MudText>
                <MudStack Row="true" Class="ml-5">
                    <MudIcon Icon="@Icons.Material.Filled.WbSunny" Title="Light" Class="mt-2"></MudIcon>
                    <MudSwitch Value="IsDarkTheme" id="asdfasdf" ValueChanged="async (bool isOn) => await SetAndPersistIsDarkTheme(isOn)" T="bool" Color="Color.Primary" Class="mr-n2 mb-0 ml-1" />
                    <MudIcon Icon="@Icons.Material.Filled.Nightlight" Title="Dark" Class="mt-2"></MudIcon>
                </MudStack>
            </MudStack>

            <MudStack Row="false">
                <MudText Class="bt-pref-group-label0">
                    Menu Mode
                </MudText>
                <MudStack Row="false" Class="ml-5" Style="width:14.286rem;">
                    <MudSelect T="DrawerVariant" MultiSelection="false" Value="DrawerVariantInTab" ValueChanged="async (DrawerVariant a) => await SetAndPersistDVIT(a)" Label="In Browser Tab" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                        @foreach (DrawerVariant item in Enum.GetValues(typeof(DrawerVariantSupportedInTab)))
                        {
                            <MudSelectItem Value="item">@item</MudSelectItem>
                        }
                    </MudSelect>
                </MudStack>
                <MudStack Row="false" Class="ml-5" Style="width:14.286rem;">
                    <MudSelect T="DrawerVariant" MultiSelection="false" Value="DrawerVariantInSidePanel" ValueChanged="async (DrawerVariant a) => await SetAndPersistDVISP(a)" Label="In SidePanel" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                        @foreach (DrawerVariant item in Enum.GetValues(typeof(DrawerVariantSupportedInSidePanel)))
                        {
                            <MudSelectItem Value="item">@item</MudSelectItem>
                        }
                    </MudSelect>
                </MudStack>
            </MudStack>

            <MudStack Row="false">
                <MudText Class="bt-pref-group-label0">
                    Inactivity Timeout
                </MudText>
                <MudStack Row="false" Class="ml-5" Style="width:14.286rem;">
                    @*
                        // TODO P3 perf: update so the change is on mouse-up, not on mouse-move or click
                    *@
                    <MudSlider T="float" Value="InactivityTimeout" ValueChanged="async (float v) => await SetAndPersistInactivityTimeout(v)" Min="0.5f" Max="AppConfig.MaxInactivityTimeoutMins" Step="0.5f" />
                    <p>@InactivityTimeoutLabel</p>
                </MudStack>
            </MudStack>

        </div>
    </div>
    <MudStack Row="true" class="bt-button-tray">
        <MudIconButton Icon="@Icons.Material.Filled.ArrowBackIosNew" Variant="Variant.Text" OnClick='@(async () => await GoBack(js))' Class="justify-start" />
        <MudSpacer />
        <MudButton OnClick="ResetToDefault" Color="Color.Secondary" Variant="Variant.Filled" Class="ml-8" Style="justify-content:left;">Reset to Default</MudButton>
    </MudStack>
</div>

<style>
    .bt-pref-radiogroup {
        padding-left: 4.286rem;
    }

    .bt-pref-radio {
    }

    .bt-pref-group-label0 {
        font-weight: bold;
        padding-top: 1.143rem;
    }

    .bt-pref-group-label1 {
        padding-left: 0.714rem;
    }

    .bt-pref-group-label2 {
        padding-left: 2.857rem;
    }

    .bt-pref-stack1 {
        width: auto;
        margin-left: 1.429rem;
        gap: 0;
    }
</style>
