@inherits BaseLayout
@using Extension.Models.Storage
@using Extension.Services
@using Extension.Services.Storage
@using System
@using Extension.Services.SignifyService.Models

@using Extension.Pages
@using System.Reactive.Linq
@inject HttpClient http
@inject IJSRuntime js
@inject NavigationManager navManager
@inject IStorageService storageService
@inject ISnackbar snackbar
@inject ILogger<MainLayout> logger
@inject ISignifyClientService signifyClientService
@inject IWebExtensionsApi webExtensionsApi
@inject IJsRuntimeAdapter jsRuntimeAdapter
@inject AppCache appCache  // Reactive: inherits subscription from BaseLayout
@inject SessionManager sessionManager

@code {
    // fields...
    static public IJSObjectReference? utilModule;
    const string miniWidth = "var(--mud-drawer-mini-width-left)";
    const string openWidth = "var(--mud-drawer-width-left)";
    string version = "";
    string version_name = "";

    // properties...
    bool IsProfilePanelOpen { get; set; }
    List<ExtensionContext> CurrentExtensionContexts { get; set; } = [];
    bool IsPersistentDrawerOpenInPopup { get; set; }

    // reactive properties ...
    Object ActiveAidObject => (object)ActivePrefix;
    string ActivePrefix => appCache.MyPreferences.SelectedPrefix;
    string ActivePrefixIdenticon => Helper.Identicon.MakeIdenticon(ActivePrefix);
    string ActiveAlias => string.IsNullOrEmpty(ActivePrefix) || appCache.Aids.Count == 0
        ? ""
        : appCache.Aids.Find(x => x.Prefix == ActivePrefix)?.Name ?? "";
    bool IsIdenticonShown => appCache.IsSessionUnlocked && !string.IsNullOrEmpty(ActivePrefix); //&& !string.IsNullOrEmpty(ActiveAlias);
    static ContextFilter contextFilterPopup => new ContextFilter() { ContextTypes = [ContextType.POPUP] };
    string MainContentStyle => (IsMenuDrawerOpen, ActiveDrawerVariant) switch
    {
        // TODO P2 consider context (i.e., normal tab, SidePanel, popup) variant if implemented
        (_, DrawerVariant.Mini)
            => $"left: {miniWidth}; width:calc(100vw - {miniWidth}; padding-right: {miniWidth});",
        (_, DrawerVariant.Temporary)
            => $"left: 0; width:calc(100vw);",
        (true, DrawerVariant.Persistent)
            => $" width:calc(100vw - {openWidth}); ",
        (true, _)
            => $"left: 0; width:calc(100vw);",
        (false, DrawerVariant.Persistent)
            => $"left: 0; width:calc(100vw); padding-right: 0;",
        (false, _)
            => $"left: {openWidth}; width:calc(100vw - {openWidth});"
    };
    ContextFilter contextFilter => new ContextFilter() { ContextTypes = [ContextType.POPUP, ContextType.TAB, ContextType.SIDEPANEL] };
    bool IsInPopup => CurrentExtensionContexts.Any(c => c.ContextType == ContextType.POPUP);
    bool IsInSidePanel => CurrentExtensionContexts.Any(c => c.ContextType == ContextType.SIDEPANEL);
    // Note: SidePanel context is also a Tab context, so we need to exclude that here
    bool IsInTabNotSidePanel => CurrentExtensionContexts.Any(c => c.ContextType == ContextType.TAB) && !IsInSidePanel;
    DrawerVariant ActiveDrawerVariant => (IsInPopup, IsInSidePanel, IsInTabNotSidePanel) switch
    {
        (true, _, _) => appCache.MyPreferences.DrawerVariantInPopup,
        (_, true, _) => appCache.MyPreferences.DrawerVariantInSidePanel,
        (_, _, true) => appCache.MyPreferences.DrawerVariantInTab,
        _ => appCache.MyPreferences.DrawerVariantInTab
    };
    bool IsMenuDrawerOpen => IsInTabNotSidePanel ? appCache.MyPreferences.IsPersistentDrawerOpenInTab : IsInSidePanel ? appCache.MyPreferences.IsPersistentDrawerOpenInSidePanel : IsPersistentDrawerOpenInPopup;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        logger.LogInformation("OnInitializedAsync");

        CurrentExtensionContexts = (await webExtensionsApi.Runtime.GetContexts(contextFilter)).ToList();

        // TODO P3 Perf: these (i.e., extensionId, manifestJson, version, version_name, ...) could be moved into App, and availale widely with static property
        // DRY and perf with this (e.g. setting version, version_name) in other locations including Index, NewReleasePage. Move to App.
        webExtensionsApi = new WebExtensionsApi(jsRuntimeAdapter);
        var manifestJsonElement = webExtensionsApi.Runtime.GetManifest();
        if (manifestJsonElement.TryGetProperty("version", out JsonElement versionElement) && versionElement.ValueKind == JsonValueKind.String)
        {
            version = versionElement.ToString();
        }
        if (manifestJsonElement.TryGetProperty("version_name", out JsonElement version_nameElement) && version_nameElement.ValueKind == JsonValueKind.String)
        {
            version_name = version_nameElement.ToString();
        }
    }

    async Task Lock()
    {
        logger.LogInformation("Locking application - clearing KERIA session records");
        await sessionManager.ClearKeriaSessionRecordsAsync();
        await appCache.WaitForAppCache([() => !appCache.IsSessionPasscodeSet]);
    }

    protected override async Task HandleAppCacheChanged()
    {
        await base.HandleAppCacheChanged();
        logger.LogInformation("HandleAppCacheChanged");
        StateHasChanged();
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        logger.LogInformation("OnParametersSetAsync");
    }

    async Task SetActiveAid(string prefix)
    {
        await storageService.SetItem<Preferences>(appCache.MyPreferences with { SelectedPrefix = prefix });
        await appCache.WaitForAppCache([() => appCache.MyPreferences.SelectedPrefix == prefix]);
        IsProfilePanelOpen = false;
    }

    async Task ClickToggleProfilePanel(MouseEventArgs _)
    {
        await ToggleProfilePanel();
    }

    async Task ToggleProfilePanel()
    {
        IsProfilePanelOpen = !IsProfilePanelOpen;
    }

    async Task ToggleMenuDrawer()
    {
        if (IsInTabNotSidePanel)
        {
            var newPrefs = appCache.MyPreferences with { IsPersistentDrawerOpenInTab = !IsMenuDrawerOpen };
            await storageService.SetItem<Preferences>(newPrefs);
            await appCache.WaitForAppCache([() => appCache.MyPreferences.IsPersistentDrawerOpenInTab == newPrefs.IsPersistentDrawerOpenInTab]);
        }
        else if (IsInSidePanel)
        {
            var newPrefs = appCache.MyPreferences with { IsPersistentDrawerOpenInSidePanel = !IsMenuDrawerOpen };
            await storageService.SetItem<Preferences>(newPrefs);
            await appCache.WaitForAppCache([() => appCache.MyPreferences.IsPersistentDrawerOpenInSidePanel == newPrefs.IsPersistentDrawerOpenInSidePanel]);
        }
        else if (IsInPopup)
        {
            IsPersistentDrawerOpenInPopup = !IsPersistentDrawerOpenInPopup;
        }
    }

    private async Task RefreshConnect()
    {
        // TODO P3 not yet implemented. Intent is to refresh connection to KERI Agent and fetch identifier state again, etc.
        // snackbar.Add("Refreshing connection...", Severity.Info);
    }

    public override async ValueTask DisposeAsync()
    {
        await base.DisposeAsync();
    }
}


<MudThemeProvider Theme="@AppConfig.MyCustomTheme" IsDarkMode="appCache.MyPreferences.IsDarkTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider Style="z-index:9999" />

<MudLayout id="MainLayout" Style="overflow-y:hidden; overflow-x:hidden; box-sizing: border-box; position:absolute; top:0; width:100vw;">
    <!-- APP BAR -->
    <MudAppBar Elevation="2" Style="padding-left: 0px; padding-right: 0px; height:var(--bt-appbar-height);">
        <MudStack Style="height:inherit; width: 100%; padding-bottom:8px;" Class="d-flex pt-2" Row="true">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="ToggleMenuDrawer" Style="padding-left: 5px;" data-testid="menuHamburger" />
            <MudButton Href="@RouteToIndex" Style="padding: 10px; height:fit-content; align-self:center; border:none; border-radius:16px; background:#00000020;">
                <img src="images/logo512.png" alt="Icon" style="width: 24px; height: 24px;" />
                <MudText Style="margin-left:7px; font-size:larger; color:hsl(183deg 100% 50%); font-variant: small-caps;">KeriAuth</MudText>
            </MudButton>

            <MudStack Row="true" Style="margin-left:16px; display:flex; align-items:center;">
                <MudText Typo="Typo.caption" Style="@TimeoutText.Style">
                    @TimeoutText.Text
                </MudText>
            </MudStack>

            <MudSpacer />
            <!-- KERIA Connected Indicator -->
            <div style="align-self:center; height: 35px; margin-right: -8px;">
                @if (appCache.IsAuthenticated)
                {
                    @if (appCache.IsIdentifierFetched)
                    {
                        <MudTooltip Text="Connected to KERI Agent" Arrow="true" Placement="Placement.Left" Delay="1000">
                            <MudPaper Style="width: 35px; height: 35px; border-radius: 50%; display: flex; box-shadow:none; align-items: center; justify-content: center; background-color: transparent; color:var(--mud-palette-success)">
                                <MudIcon Icon="@Icons.Material.Filled.Link" Disabled="@(!appCache.IsConfigured)" @onclick="async () => await RefreshConnect()" />
                            </MudPaper>
                        </MudTooltip>
                    }
                    else
                    {
                        <MudTooltip Text="Not Connected to KERI Agent" Arrow="true" Placement="Placement.Left" Delay="1000">
                            <MudPaper Style="width: 35px; height: 35px; border-radius: 50%; display: flex; box-shadow:none; align-items: center; justify-content: center; background-color: transparent; color:var(--mud-palette-failure)">
                                <MudIcon Icon="@Icons.Material.Filled.LinkOff" Disabled="@(!appCache.IsConfigured)" @onclick="async () => await RefreshConnect()" />
                            </MudPaper>
                        </MudTooltip>
                    }
                }
                else
                {
                    <MudTooltip Text="KERI Auth is locked" Arrow="true" Placement="Placement.Left" Delay="1000">
                        <MudPaper Style="width: 35px; height: 35px; border-radius: 50%; display: flex; box-shadow:none; align-items: center; justify-content: center; background-color: transparent; color:var(--mud-palette-warning)">
                            <MudIcon Icon="@Icons.Material.Filled.Lock" Disabled="@(!appCache.IsConfigured)" @onclick="() => navManager.NavigateTo(AppConfig.RouteToUnlock)" />
                        </MudPaper>
                    </MudTooltip>
                }
            </div>

            <!-- Current Identifier Identicon -->
            <div style="align-self:center; height: 35px; margin-right: -8px;">
                @if (IsIdenticonShown)
                {
                    <MudTooltip Text=@ActiveAlias Arrow="true" Placement="Placement.Left" Delay="500">
                        <MudIcon @onclick="async (a) => await ClickToggleProfilePanel(a)" ViewBox="0 0 100 100" Icon=@ActivePrefixIdenticon Style="border-style:solid; border-color:black; border-width:2px; border-radius:50%; width:35px; height:35px; overflow:hidden;" />
                    </MudTooltip>
                }
            </div>

        </MudStack>

        <!-- The Identifier Selector overlay covers entire page -->
        <MudOverlay DarkBackground LightBackground @bind-Visible="@IsProfilePanelOpen" @onclick="ToggleProfilePanel" Style="display: block; width:100vw; min-height:100vh; height:fit-content; overflow-y:auto; color:var(--mud-palette-primary);">
            <div style="background:var(--mud-palette-background); position:absolute; height: auto; right: 0px; display:block; width:300px; margin-top: var(--bt-appbar-height); border-style: solid; border-top-style:none; border-width: 1px; border-color: #CACACA;">
                <MudList SelectedValue="ActiveAidObject" Class="bt-sad-4;" Style="padding: 0px">
                    @foreach (var aid in appCache.Aids)
                    {
                        <MudListItem Value="aid.Prefix" OnClick="async () => await SetActiveAid(aid.Prefix)" Style=@("border-left:" + @IdentifiersPage.CardClass(ActivePrefix, aid.Prefix)) Class="bt-sad-5">
                            <MudStack Row="true" Style="display:inline-flex !important; align-items:center;">
                                <MudIcon Icon=@Helper.Identicon.MakeIdenticon(aid.Prefix) ViewBox="0 0 100 100" Style="border-style:solid; border-color:black; border-width:2px; border-radius:50%; width:35px; height:35px; overflow:hidden; margin-top: 3px;" />
                                <div class="bt-sad-2" style="display:contents;">
                                    <MudText Typo="Typo.subtitle2" Color="Color.Primary">@aid.Name</MudText>
                                </div>
                            </MudStack>
                        </MudListItem>
                        <MudDivider DividerType="DividerType.Inset" />
                    }
                </MudList>
                <MudStack Row="true" Class="mt-3 mb-3 d-flex justify-end" Style="padding-right:8px;">
                    <MudSpacer></MudSpacer>
                    <MudButton Color="Color.Primary" Variant="Variant.Filled" Href=@RouteToIdentifiers>Manage Identifiers</MudButton>
                </MudStack>
            </div>
        </MudOverlay>
    </MudAppBar>

    <!-- MENU DRAWER AND MAIN CONTENT -->
    @*
        // TODO P3 the linear gradient background experiment below should either eliminated or make visually good and depending on IsDarkTheme setting
    *@
    <MudDrawerContainer id="MudDrawerContainer" Style="height:calc(100vh - var(--mud-appbar-height)); top:var(--mud-appbar-height); position:absolute; width:inherit; display:flex; background-image:linear-gradient( 135deg, HSLA(205, 45%, 44%, 0.0), HSLA(189, 100%, 50%, 0.1) );">
        <MudDrawer id="MudDrawer" Open="IsMenuDrawerOpen" Elevation="1" ClipMode="DrawerClipMode.Never" Variant="@ActiveDrawerVariant" OpenMiniOnHover="true">
            <MudNavMenu Style="Background: var(--mud-palette-appbar-background); height:calc(100vh - var(--mud-appbar-height)); overflow-y:auto; padding-right:16px;">
                <MudNavLink Href=@RouteToDashboard Disabled="@(!appCache.IsAuthenticated)" Icon="@Icons.Material.Filled.Dashboard" IconColor="Color.Surface">Dashboard</MudNavLink>
                <MudNavLink Href=@RouteToIdentifiers Disabled="@(!appCache.IsAuthenticated)" Icon="@Icons.Material.Filled.Key" IconColor="Color.Surface">Identifiers</MudNavLink>
                <MudNavLink Href=@RouteToCredentials Disabled="@(!appCache.IsAuthenticated)" Icon="@Icons.Material.Filled.Badge" IconColor="Color.Surface">Credentials</MudNavLink>
                <MudNavLink Href=@RouteToWebsites Disabled="@(!appCache.IsAuthenticated)" Icon="@Icons.Material.Filled.Web" IconColor="Color.Surface" data-testid="menuWebsites">Websites</MudNavLink>

                <MudNavGroup Title="Advanced" Icon="@Icons.Material.Filled.Settings" IconColor="Color.Surface" Style="padding-right: 0;">
                    <MudNavLink Href=@RouteToAuthenticators Icon="@Icons.Material.Filled.Key" Disabled="@(!appCache.IsAuthenticated)" IconColor="Color.Surface">Authenticators</MudNavLink>
                    <MudNavLink Href=@RouteToManagePrefs Icon="@Icons.Material.Filled.SettingsApplications" IconColor="Color.Surface">Preferences</MudNavLink>
                    <MudNavLink Href=@RouteToManageAgents Disabled="@(!appCache.IsAuthenticated)" Icon="@Icons.Material.Outlined.PeopleOutline" IconColor="Color.Surface">KERI Agent</MudNavLink>
                    @if (appCache.IsAuthenticated)
                    {
                        <MudNavLink OnClick="async () => await Lock()" Icon="@Icons.Material.Filled.Lock" IconColor="Color.Surface">Lock</MudNavLink>
                    }
                    else
                    {
                        <MudNavLink OnClick="() => navManager.NavigateTo(RouteToIndex)" Icon="@Icons.Material.Filled.LockOpen" IconColor="Color.Surface">Unlock</MudNavLink>
                    }
                    <MudNavLink Href=@RouteToDelete Icon="@Icons.Material.Filled.DeleteForever" IconColor="Color.Surface">Delete Config&hellip;</MudNavLink>
                    <MudNavLink Href=@RouteToTest Icon="@Icons.Material.Filled.TempleBuddhist" IconColor="Color.Surface">Test</MudNavLink>
                </MudNavGroup>

                <MudNavGroup Title="About" Icon="@Icons.Material.Filled.Info" IconColor="Color.Surface">
                    <!-- TODO P4 provide help -->
                    <MudNavLink Style="display:none !important;" Href=@RouteToHelp Target="help" Icon="@Icons.Material.Filled.Help" IconColor="Color.Surface">Help</MudNavLink>
                    <MudNavLink Href=@RouteToTermsHtml Target="terms" Icon="@Icons.Material.Filled.StickyNote2" IconColor="Color.Surface">Terms</MudNavLink>
                    <MudNavLink Href=@RouteToPrivacyHtml Target="privacy" Icon="@Icons.Material.Filled.StickyNote2" IconColor="Color.Surface">Privacy</MudNavLink>
                    <!-- TODO P4 provide licenses -->

                    <MudNavLink Style="display:none !important;" Href=@RouteToLicensesHtml Target="licenses" Icon="@Icons.Material.Filled.StickyNote2" IconColor="Color.Surface">Licenses</MudNavLink>
                    <MudNavLink Href=@RouteToReleaseHtml Target="releaseNotes" Icon="@Icons.Material.Filled.StickyNote2" IconColor="Color.Surface">Release Notes<br /><i>version @version_name</i></MudNavLink>
                    <MudNavLink Href=@RouteToReleaseHistoryHtml Target="releaseHistory" Icon="@Icons.Material.Filled.StickyNote2" IconColor="Color.Surface">Release History<br /></MudNavLink>
                </MudNavGroup>
            </MudNavMenu>
        </MudDrawer>

        <!-- MAIN CONTENT -->
        <MudMainContent Class="bt-main-content" Style="@MainContentStyle">
            <MudContainer MaxWidth="MaxWidth.Large" Style="height:inherit; min-height:inherit; padding-left:0; padding-right:0;">
                @Body
            </MudContainer>
        </MudMainContent>
    </MudDrawerContainer>
</MudLayout>
